<div class="container-md">
  <!-- chat box start -->
  <div class="messages-container">
    <ng-container *ngFor="let message of messages">
      <div class="row my-2" [ngClass]="message.senderId == contact? 'justify-content-start': 'justify-content-end'">
        <div class="col-auto rounded-3 p-2" style="min-width: 284px !important;" [ngClass]="message.senderId != 1? 'bg-info': 'bg-info-sublte'">
          <!-- <div class="mb-2"> -->
            <!-- <img *ngIf="question.user.avatar; else placeholderAvatar"
              src="http://localhost:9000/files/avatars/{{question.user.avatar.avatarId}}" class="avatar-chat rounded-3">
            <ng-template #placeholderAvatar>
              <img src="/assets/user-icon.png" class="avatar-chat rounded-3">
            </ng-template> -->
            <!-- <span class="ms-2">{{question.user.userName}}</span> -->
          <!-- </div> -->
          <p class="word-wrap text-break">{{message.content}}</p>
        </div>
      </div>
    </ng-container>
  </div>
  <!-- chat box end -->
  <!-- new message form -->
  <div class="forma-kontejner" [formGroup]="messageForm">
    <textarea rows="5" formControlName="content"></textarea>
    <button class="btn btn-primary" (click)="sendMessage()">Send</button>
    <button class="btn btn-secondary" (click)="resetForm()">Clear</button>
  </div>
  <!-- new message form end -->
</div>
