.messages-container{
  max-width: min(90%, 768px);
  margin-inline: auto;
  max-height: 768px;
  overflow-y: auto;
}

.chat-forma-kontejner {
  margin-inline: auto;
  padding-bottom: 50px;
  padding-top: 20px;
  max-width: min(90%, 768px);
}
