/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.forma-kontejner{
  margin-inline: auto;
  padding: 50px 50px;
  max-width: min(90%, 768px);
}
